p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
  }

body{
    height: 1000px;
    padding-top: 80px;
    padding-left: 96px;
    margin-right: 24px;
    background-color: rgb(245, 245, 245);
}